ProgramManager/Resources/User/packages.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Packages">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Package" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="1">
                            <xs:element name="Author" type="xs:string" />
                            <xs:element name="CompanySite" type="URL" minOccurs="0" />
                            <xs:element name="Copyright" type="xs:string" minOccurs="0" />
                            <xs:element name="Description" type="xs:string" minOccurs="0" />
                            <xs:element name="HashSumm" type="xs:string" minOccurs="0" />
                            <xs:element name="License" type="xs:string" minOccurs="0" />
                            <xs:element name="Image" type="ImageAttributes" minOccurs="0" />
                            <xs:element name="Name" type="xs:string" />
                            <xs:element name="SerialKey" type="xs:string" minOccurs="0" />
                            <xs:element name="Source" type="URL" minOccurs="0" />
                            <xs:group ref="TagGroup" />
                            <xs:group minOccurs="0" ref="UserfieldGroup" />
                            <xs:element name="Version" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                        <xs:attribute name="Id" type="Id" />
                        <xs:attribute name="Category" type="xs:string" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!--ОБЪЯВЛЕНИЯ АТРИБУТОВ-->
    <xs:complexType name="UserfieldAttributes">
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="Label" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="ImageAttributes">
        <xs:attribute name="Source" type="ImagePath" use="required"/>
    </xs:complexType>
    <!--ТЕГИ-->
    <xs:group name="TagGroup">
        <xs:choice>
            <xs:element name="Tag" type="xs:string" />
            <xs:element name="TagList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Tag" type="xs:string" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:group>
    <!--ПОЛЬЗОВАТЕЛЬСКИЕ ПОЛЯ-->
    <xs:group name="UserfieldGroup">
        <xs:choice>
          <xs:element name="Userfield" type="UserfieldAttributes"/>
            <xs:element name="UserfieldList">
                <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Userfield" maxOccurs="unbounded" type="UserfieldAttributes"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:group>
    <!--ОПРЕДЕЛЕНИЯ ПРОСТЫХ ТИПОВ-->
    <xs:simpleType name="Id">
        <xs:restriction base="xs:integer">
            <xs:maxInclusive value="3000" />
            <xs:minExclusive value="-1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="URL">
        <xs:restriction base="xs:string">
            <xs:pattern value="http[s]?://[w]+\.\w+\.(com|ru|org|net)/?[-a-zA-Z0-9\#/?=]+" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ImagePath">
        <xs:restriction base="xs:string">
            <xs:pattern value="\.\./Resources/User/Images/[-a-zA-Z0-9\-_]+\.(jpg|png)" />
        </xs:restriction>
    </xs:simpleType>
    <!--<xs:simpleType name="Birthday">
    <xs:restriction base="xs:date">
      <xs:minInclusive value="1950-01-01" />
      <xs:maxInclusive value="2010-12-31" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="workDays">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Воскресение" />
      <xs:enumeration value="Понидельник" />
      <xs:enumeration value="Вторник" />
      <xs:enumeration value="Среда" />
      <xs:enumeration value="Четрверг" />
      <xs:enumeration value="Пятница" />
      <xs:enumeration value="Суббота" />
    </xs:restriction>
  </xs:simpleType>-->
</xs:schema>
